.navbar{
    background-size: cover;
    background-position: center;
    color: white;
    height: 325px;
}
.search-bar{
    margin-top: -50px;
    height: 85px;
    border-radius: 10px;
    padding: 10px 20px;
}